@page
@model IndexModel

<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <Joslin Oporta><Portfolio></Portfolio></Joslin>
<html lang="en">
<head>
    <style>
        body {
            background: linear-gradient(135deg, #203a45, #203a45, #2c5345);
            color: white;
            text-align: center;
            padding: 50px 20px;
            background: revert backdrop-filter: blur(10px);
            borer-button: 2px solid #00e0ff 
            img {
            width: 100px;
            height: auto;
            border-radius: 80%;
            margin-top: 20px;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8>"
</head>
<body>
    <header
        <h1><strong>Hello, my name is Joslin Oporta</h1></strong>
        <p>Welcome to my personal webpage!</p>
    </header>

    <main>
        <section>
            <h2>About me</h2>
            <p> Hello, I'm Joslin Oporta, a dedicated professional with a solid background in technical support and customer service. Over the years, I've developed strong skills in providing technical assistance and support to clients, ensuring their issues are resolved efficiently.</p>
            <p> In my previous roles, I have been responsible for offering comprehensive technical support, troubleshooting hardware and software problems, and helping clients navigate technical challenges with ease. I’ve gained valuable experience in liaising between partners and customers, making sure that expectations are met and clear communication is maintained throughout each interaction.
            <p>I have worked with various systems and software, allowing me to build an adaptable skill set that’s aligned with both technical troubleshooting and customer satisfaction. This has equipped me to handle diverse technical inquiries, from basic setups to complex solutions. I'm passionate about helping people solve their problems and ensuring they feel confident using their technology.
            <p>With a strong focus on clear communication, problem-solving, and creating lasting relationships with both customers and partners, I am always looking for ways to improve the experience and quality of support offered.</p>
            </p>
            </p>
            <U1>
                <p><strong>Current Role:</strong> Azure DevOps Technical Suport Engineer at Tek Experts</p>
                <p><strong>Skills:</strong> iOS/MacOS troubleshooting, stakeholder communication, team collaboration, customer satisfaction</p>
                <p><strong>Languages:</strong> English, Spaninsh, Portuguese</p>
            </U1>
        </section>

        <section>
            <h2> Contact</h2>
            <p>If you would like to get in touch with me, feel free to use the contact details below:</p>
            <p><strong>Email:</strong> <a href="mailto:joporta0852@gmail.com&#64;gmail.com">joporta0852&#64;gmail.com</a></p>
            <p><strong>Phone:</strong> +506 60824358</p>
            
</body>
</html>